.certificates{
    /* height: 50vh; */
    
    
}

.certificate-search{
   text-align: center;
   margin: 120px 0 10px 0;
}

.certificate-button{
    background-color: #086306;
    color: white;
    transition: 2s;
}

.certificate-button:hover{
    background-image: linear-gradient(0deg, rgb(94, 5, 4),rgb(253, 19, 61));
    color: white;
}

.certificate-output{
    border: 1px solid #d1cece;
}

.certificate-output img{
    width: 200px;
    float: right;
}